<div class="details">
  <div class="heading">
    <h1>Details</h1>
  </div>
  <div class="owner">
    <span>Owner:</span>
    <input id="owner" *ngIf="producer" (blur)="onUpdate($event)" value="{{ producer.owner }}">
  </div>
  <div class="enologist">
    <span>Enologist:</span>
    <input *ngIf="producer" id="enologist" (blur)="onUpdate($event)" value="{{ producer.enologist }}">
  </div>
  <div class="agricultural-lead">
    <span>Agricultural Lead:</span>
    <input *ngIf="producer" id="agricultural_lead" (blur)="onUpdate($event)" value="{{ producer.agricultural_lead }}">
  </div>
  <div class="planted-hectares">
    <span>Planted Hectares:</span>
    <input *ngIf="producer" id="planted_hectares" (blur)="onUpdate($event)" value="{{ producer.planted_hectares }}">
  </div>
  <div class="production">
    <span>Total bottle production per annum:</span>
    <input *ngIf="producer" id="total_production" (blur)="onUpdate($event)" value="{{ producer.total_production }}">
  </div>
</div>
