<div class="details">
  <div class="heading">
    <h1>Details</h1>
  </div>
  <div class="region">
    Region:
    <span class="region-content">Valpolicella Classico</span>
  </div>
  <div class="appellation">
    Appellation:
    <span class="appellation-content">DOCG</span>
  </div>
  <div class="owner">
    Owner:
    <span class="owner-content">Gabriele Qualcosa</span>
  </div>
  <div class="enologist">Enologist:
    <span class="enologist-content">Someone Else</span>
  </div>
  <div class="agricultural-lead">Agricultural Lead:
    <span class="agricultural-lead-content">Gabriele Qualcosa</span>
  </div>
  <div class="planted-hectares">Planted Hectares:
    <span class="planted-hectares-amount">12</span>
  </div>
  <div class="production">Total bottle production per annum:
    <span class="production-amount">8000</span>
  </div>
</div>
