<div class="producerName">
  <div class="heading">
    <h1>Producer</h1>
  </div>
  <div class="name">
    <h2 id="name" *ngIf="producer" (blur)="onUpdate($event)" contenteditable="true">{{ producer.name }}</h2>
  </div>
  <div class="address">
    <p id="address" *ngIf="producer" (blur)="onUpdate($event)" contenteditable="true">{{ producer.address }}</p>
  </div>
  <div class="region">
    <p id="region" *ngIf="producer" (blur)="onUpdate($event)" contenteditable="true">{{ producer.region }}</p>
  </div>
  <div class="producerWeb">
    <span class="fa-stack fa-lg">
      <i class="fa fa-home fa-stack-1x"></i>
    </span>
    <a id="web_address" *ngIf="producer" (blur)="onUpdate($event)" contenteditable="true" href="{{ producer.web_address }}">{{ producer.web_address }}</a>
  </div>
</div>
