<div class="ui-inputgroup dropdown">
  <input type="text" (keyup)="onSearchChange($event)"
         pInputText placeholder="Keyword">
  <button pButton type="button" label="Search">Search</button>
  <div class="dropdown-content" *ngIf="producers">
    <ul>
      <li (mouseover)="mouseOver($event)"
          *ngFor="let producer of producers; let i = index"
          [ngClass]="{'highlighted' : isHighlighted(i+1)}"
          [attr.data-index]="i">{{ producer.name }}</li>
    </ul>
  </div>
</div>
