<div class="producer">
  <span class="edit-producer fa-stack fa-lg" (click)="toggleEditable(isEditable)">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </span>
  <h1>Producer</h1>
  <span class="add-producer fa-stack fa-lg">
      <i class="fa fa-plus-circle fa-stack-1x"></i>
  </span>
</div>
<div id="col1" class="ui-datagrid-column">
  <sd-producer-name (producerVariableChange)="handleProducerUpdate($event)"
                    [(producer)]="selectedProducer"></sd-producer-name>
  <sd-contacts (producerVariableChange)="handleProducerUpdate($event)" [(producer)]="selectedProducer"></sd-contacts>
</div>
<div id="col2" class="ui-datagrid-column">
  <sd-details (producerVariableChange)="handleProducerUpdate($event)" [(isEditable)]="isEditable"
              [(producer)]="selectedProducer"></sd-details>
  <sd-description (producerVariableChange)="handleProducerUpdate($event)" [(producer)]="selectedProducer"></sd-description>
</div>
