<div class="contacts">
  <div class="heading">
    <h1>Contacts</h1>
    <span class="add-contact fa-stack fa-lg">
      <i class="fa fa-plus-circle fa-stack-1x"></i>
    </span>
  </div>
  <div class="contact">
    <span class="address-book fa-stack fa-lg">
      <i class="fa fa-address-book fa-stack-1x"></i>
    </span>
    <div class="name">
      Name:
      <span class="name-content">Gabriele Qualcosa</span>
    </div>
    <div class="position">Position:
      <span class="position-content">Owner</span>
    </div>
    <div class="email">Email:
      <a href="mailto:something@ladamavini.it" class="email-content">something@ladamavini.it</a>
    </div>
    <div class="phone">Phone:
      <span class="phone-content">+34 123 45 67</span>
    </div>
  </div>
  <div class="contact">
    <span class="address-book fa-stack fa-lg">
      <i class="fa fa-address-book fa-stack-1x"></i>
    </span>
    <div class="name">
      Name:
      <span class="name-content">Garbiele Qualcosa</span>
    </div>
    <div class="position">Position:
      <span class="position-content">Owner</span>
    </div>
    <div class="email">Email:
      <a href="mailto:something@ladamavini.it" class="email-content">something@ladamavini.it</a>
    </div>
    <div class="phone">Phone:
      <span class="phone-content">+34 123 45 67</span>
    </div>
  </div>
</div>
