:host {
  /*background-color: #ffffff;*/
  color: rgba(0, 0, 0, 0.87);
  display: block;
  padding: 4px 16px 14px;
  border: 1px solid #e1e1e1;
  margin: 5px 0;
}

h1 {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.1px;
  /* "+" icon requires heading re-alignment */
  margin-right: -42.6667px;
}

.heading {
  margin: auto;
  text-align: center;
  height: 27px;
}

.contact {
  border: 1px solid #e1e1e1;
  padding: 5px 5px 5px 43px;
  margin-right: 43px;
}

span.add-contact {
  float: right !important;
  margin-top: -10px;
}

span.address-book {
  margin-left: -43px;
}

span.fa-stack {
  height: 100%;
}

.fa-plus-circle {
  color: green
}

.fa-plus-circle:hover {
  color: #004d00;
}
